<div class="container-fluid portfolio"> 
  <%= render 'layouts/header' %>
  <div class="row vertical-center">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="minuspadding col-sm-3">
        <%= link_to "http://sassy-simple-shopping-cart.bitballoon.com" do %>
          <%= image_tag "jquerySimpleShoppingCart.png", :class => "project" %>
        <% end %>
      </div>
      <div class="minuspadding col-sm-3">
        <%= link_to "http://sassy-math.bitballoon.com" do %>
          <%= image_tag "javascriptAjax10SecOfMathGame.png", :class => "project" %>
        <% end %>
      </div>
      <div class="minuspadding col-sm-3">
        <%= link_to "https://sassy-reddit.herokuapp.com/" do %>
          <%= image_tag "reddit.png", :class => "project" %>
           <% end %>
      </div>
      <div class="minuspadding col-sm-3">
        <%= link_to "http://highchart-annotation.bitballoon.com/" do %>
          <%= image_tag "highchart.png", :class => "project" %>
           <% end %>
      </div>
      <div class="minuspadding col-sm-3">
        <%= link_to "https://product-review.herokuapp.com/" do %>
          <%= image_tag "siubobo.png", :class => "project" %>
           <% end %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div> 
