<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 nav navbar">
      <div class="col-xs-11 col-sm-3">
        <h1 id="myName">CASSIE MAK</h1>
      </div>
      <div class="col-xs-1 col-sm-9" id="menu">
        <ul class="topMenu">
          <li class="list"><%= link_to "HOME", home_path %></li>
          <li class="list"><%= link_to "ABOUT", aboutme_path %></li>
          <li class="list"><%= link_to "PORTFOLIO", portfolio_path %></li>
          <li class="list"><%= link_to "GALLERY", gallery_path %></li>
          <li class="list"><%= link_to "CONTACT", contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>