<!DOCTYPE html>
<html>
<head>
  <title>Cassandra Mak</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Alex+Brush|Frijole|Rock+Salt|Sancreek' rel='stylesheet' type='text/css'>

</head>

<body class="body-background">
<!-- generate repeating background-->
<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
